<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kbop.mapper.BookMapper">
    <resultMap id="BaseResultMap" type="com.kbop.bean.po.Book">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="BookName" property="bookName" jdbcType="VARCHAR"/>
        <result column="Ext" property="ext" jdbcType="VARCHAR"/>
        <result column="URL" property="url" jdbcType="VARCHAR"/>
        <result column="Size" property="size" jdbcType="VARCHAR"/>
        <result column="Time" property="time" jdbcType="TIMESTAMP"/>
        <result column="Author" property="author" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        ID, BookName, Ext, URL, Size, Time, Author
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from book
        where ID = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from book
    where ID = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.kbop.bean.po.Book">
    insert into book (ID, BookName, Ext, 
      URL, Size, Time, 
      Author)
    values (#{id,jdbcType=INTEGER}, #{bookname,jdbcType=VARCHAR}, #{ext,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{size,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP}, 
      #{author,jdbcType=LONGVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.kbop.bean.po.Book">
        insert into book
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="bookname != null">
                BookName,
            </if>
            <if test="ext != null">
                Ext,
            </if>
            <if test="url != null">
                URL,
            </if>
            <if test="size != null">
                Size,
            </if>
            <if test="time != null">
                Time,
            </if>
            <if test="author != null">
                Author,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="bookname != null">
                #{bookname,jdbcType=VARCHAR},
            </if>
            <if test="ext != null">
                #{ext,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="size != null">
                #{size,jdbcType=VARCHAR},
            </if>
            <if test="time != null">
                #{time,jdbcType=TIMESTAMP},
            </if>
            <if test="author != null">
                #{author,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.kbop.bean.po.Book">
        update book
        <set>
            <if test="bookname != null">
                BookName = #{bookname,jdbcType=VARCHAR},
            </if>
            <if test="ext != null">
                Ext = #{ext,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                URL = #{url,jdbcType=VARCHAR},
            </if>
            <if test="size != null">
                Size = #{size,jdbcType=VARCHAR},
            </if>
            <if test="time != null">
                Time = #{time,jdbcType=TIMESTAMP},
            </if>
            <if test="author != null">
                Author = #{author,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.kbop.bean.po.Book">
    update book
    set BookName = #{bookname,jdbcType=VARCHAR},
      Ext = #{ext,jdbcType=VARCHAR},
      URL = #{url,jdbcType=VARCHAR},
      Size = #{size,jdbcType=VARCHAR},
      Time = #{time,jdbcType=TIMESTAMP}
      Author = #{author,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
    <select id="findByBookName" resultMap="BaseResultMap" parameterType="String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM book WHERE BookName LIKE "%"#{bookName}"%"
    </select>


    <select id="queryAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from book
    </select>
</mapper>